
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
    text-align: center;
}

.nama {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.kelas {
    font-weight: bold;
}

.mata-kuliah li {
    text-align: left;
    margin-left: 43%;
    list-style-type: upper-roman;
    font-size: 18px;
}

.mata-kuliah li.highlight {
    color: blue;
    font-family: Arial, sans-serif;
}

.quote {
    font-style: italic;
    margin-top: 20px;
    text-align: left;
    margin-left: 40%;
}
